
<html>
    <head>
      <title>HOME</title>
      <meta charset="utf-8"> 
      <link rel="icon" href="https://img.icons8.com/color/48/000000/border-collie.png">
    </head>
    <body>
        <h1>"BIENVENIDO A PREGUNTANDO SOBRE EL POTRILLO"</h1>
        <h2>Para preguntar coloca segudio de la direccion "/" y la pregunta sin espacios</h2>
        <h2>Algunas de las preguntas que podes hacerles al potrillo son:</h2>
        <H2><ol>
            <li>elpotrilloesmacho</li>
            <li>esparientedecelestecid</li>
            <li>tenesolor</li>
            <li>escorrectoloquehago</li>
            <li>etc...</li>
        </ol></H2>
        <h6><img src="https://cdn2-www.dogtime.com/assets/uploads/2011/01/file_23186_collie-460x290.jpg" alt="Si fallo es que sacaron la imagen del potrillo de internet..."></h6>
        <h6>Imagen ilustrativa, El potrillo puede verse diferente</h6>
         <audio autoplay controls src="../media/ambient.wav"></audio>
    </body>
</html>


